body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
 
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #FFF;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.date {
    float: right;
}

.list{
	text-align: left;
}

/* Contact form section */
#contact-form {
	background-color: #ffffff;
	padding: 1px 0;
	text-align: center;
}

#contact-form form {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	margin: 0 auto;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: 100%;
}

.form-group label {
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
	transition: border-color 0.3s ease;
	width: 100%;
}

.form-group input:focus,
.form-group textarea:focus {
	outline: none;
	border-color: #666;
}

button[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	align-self: center;
}

