/* Reset default browser styles */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

/* Global styles */
html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #333;
	background-color: #f7f7f7;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #666;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

/* Header section */
#home-section {
	background-color: #333;
	color: #fff;
	padding: 100px 0;
	text-align: center;
}

.home-content {
	max-width: 800px;
	margin: 0 auto;
}

.home-content h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

.home-image {
	margin-top: 50px;
}

.home-image img {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	height: auto;
}

/* Header styles */

header {
	background-color: #9f9f9f;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

header h1 {
	margin: 0;
	padding: 10px;
	font-weight: bold;
	font-size: 22px;
	color: #333;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	display: block;
	padding: 10px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

nav a:hover {
	background-color: #f2f2f2;
}

/* Main styles */

main {
	margin-top: 80px;
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

section h2 {
	margin: 0 0 20px;
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

section p {
	margin: 0 0 20px;
	font-size: 16px;
	line-height: 1.5;
}

.button {
	display: inline-block;
	margin: 10px 0;
}

.project {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 20px;
	border-radius: 5px;
}

.project img {
	max-width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}

.project h3 {
	margin: 0 0 10px;
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

/* Footer styles */

footer {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
}

footer p {
	margin: 0;
	font-size: 14px;
	color: #666;
}


#contact-form form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form-group {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-bottom: 20px;
}

.form-group label {
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	line-height: 1.25;
	color: #333;
	background-color: #fff;
	transition: border-color 0.3s ease;
	width: 90%;
}

.form-group input:focus,
.form-group textarea:focus {
	outline: none;
	border-color: #666;
}

button[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
	align-self: left;
}

